@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  @apply h-screen;
  @apply p-2;
}

#root {
  @apply h-full;
}

@theme {
  --color-blush: '#D88A95',
  --color-lilac: '#C3A6CC',
  --color-apricot: '#E8BA8C',
  --color-sage: '#A9C3A5',
  --color-charcoal: '#2E2E30',
  --color-cream: '#FAF8F5',
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
